/* Example of Element Selector*/
		h1 {
			color: blue;
			text-align: center;
			font-style: italic;
		}
		/* Example of Class Selector*/
		.redBold {
			color: red;
			text-align: left;
			font-style: bold;
		}

		/* Example of ID Selector*/
		#greenStuff {
			color: green;
			text-align: left;
			font-style: Serif;
		}

		article > p {
			color: blue;
			text-align: center;
			font-size: 25px;
			font-style: italic;
		}

		/* Example of Combining Selectors*/
		article a {
			list-style: none;
			display: block;
			text-decoration: none;
			background-color: yellow;
			text-align: center;
			width: 180px;
			margin-bottom: 1px;
			border: 1px solid red; 
		}

		a:hover{
			background-color: red;
		}

		a:active{
			background-color:purple;
		}
